// .App

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  @include unselectable;
}

.wrapper {
  background-color: #ffffff;
  max-width: 1340px;
  border-radius: 10px;
  margin: 43px auto 63px;
}
.container {
  padding: 49px 48px 96px 67px;
}

.header {
  padding: 49px 48px 40px 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f7f7;
}
.logo-part {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 17px;
}
.logo-description {
  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #181818;
  }
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #7b7b7b;
  }
}
.header-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #fe5f1e;
  border-radius: 30px;
  padding: 12px 19px 13px 23px;
  color: white;
}
.slash {
  margin-left: 13px;
}
.cart {
  margin-left: 14px;
  margin-right: 9px;
}

.upper-part {
  display: flex;
  justify-content: space-between;
}
// .items-count
.categories {
  display: flex;
  .active {
    background: #282828;
    color: white;
  }
}
.categories-item {
  padding: 14px 30px 17px 30px;
  cursor: pointer;
  background: #f9f9f9;
  border-radius: 30px;
  line-height: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.015em;

  &:not(:last-child) {
    margin-right: 9px;
  }
}

.sort {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  span {
    margin-right: 8px;
    margin-left: 7px;
  }
  .active {
    visibility: visible;
  }
}
.sorted-category {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #fe5f1e;
  border-bottom: 1px dashed #fe5f1e;
}
.all-pizza-header {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  margin-bottom: 35px;
  color: #000000;
}
.all-pizza-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:not(:nth-of-type(4n)) {
    margin-right: 25px;
  }
  h2 {
    margin-top: 11px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
  }
  .select-parameters {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 7px 6px 7px 6px;
    margin-bottom: 17px;

    width: 280px;
  }

  .active {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
  }

  .bottom-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
.type-list {
  display: flex;
  margin-bottom: 7px;
}
.type-list-item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  padding: 8px;
}
.size-list {
  display: flex;
}
.size-list-item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  padding: 8px;
}
.price {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.015em;

  color: #000000;
}
.add-button {
  color: #eb5a1e;
  cursor: pointer;
  display: flex;
  background: #ffffff;
  border: 1px solid #eb5a1e;
  border-radius: 30px;
  align-items: center;
  padding: 9px 14px 9px 17px;
  img {
    margin-right: 8px;
  }
  span {
    margin-left: 8px;
    padding: 2px 8px;
    color: white;
    border: 1px solid #eb5a1e;
    border-radius: 50%;
    background-color: #eb5a1e;
  }
  button {
    cursor: pointer;
    border: 0;
    background-color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #eb5a1e;
  }
}

.popup {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #f3f3f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  z-index: 1;
  padding: 10px 0px;

  &-item {
    padding: 6px 20px;

    &:hover {
      background-color: #d6d6d6;
    }
  }
}

.cart-container {
  padding: 94px 218px 131px 297px;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;

  &-left {
    display: flex;
    align-items: center;
    img {
      margin-right: 19px;
    }
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.01em;

      color: #000000;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    img {
      margin-right: 16px;
    }
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #b6b6b6;
    }
  }
}

// .cart-list
.cart-list-item {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;
  justify-content: space-between;

  img {
    margin-right: 15px;
  }

  &-header {
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
      margin-right: 120px;

      color: #000000;
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;

      color: #8d8d8d;
    }
  }

  span {
    margin: 0px 93px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #000000;
  }
}

.cart-add-delete {
  display: flex;
  align-items: center;
  img {
    margin: 0;
  }
  span {
    margin: 0px 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    letter-spacing: 0.01em;

    color: #000000;
  }
}
